
<div *ngFor="let item of items">
  <p>{{item | json}}</p>
  <div *ngIf="item.category === 'A'">
    <p>{{ item?.name }}</p>
  </div>
</div>

<div *ngIf="selectedItem">
  <p>{{ selectedItem?.name }}</p>
</div>

<div [hidden]="!selectedItem">
  <p>{{ selectedItem?.name }}</p>
</div>

<div [ngSwitch]="items[0].category">
  <p *ngSwitchCase="'A'">Selected item is in Category A</p>
  <p *ngSwitchCase="'B'">Selected item is in Category B</p>
  <p *ngSwitchDefault>No item selected</p>
</div>

<div [ngClass]="{'selected': true}" [ngStyle]="{'color': true ? 'blue' : 'black'}">
  <p>Item styling with ngClass and ngStyle</p>
</div>